.nav-custom {
  color: white;
  border-radius: 100vh;
}
.nav-custom:hover {
  color: #3b53f6;
  background-color: white;
  transition: ease 0.5s;
}
.navbar-custom {
  background-color: #3b53f6;
}
/* .navbar-custom:hover {
  color: #3b53f6;
  background-color: white;
  transition: ease 0.5s;
} */
* {
  font-family: Arial, Helvetica, sans-serif;
}
